<section class="py-5">
  <div class="wrapper fadeInDown mt-5">
  <div class="formContent">
    <div class="fadeIn first p-2">
      <i class="fas fa-user"> Login</i>
    </div>
    <form action="/login" method="POST">
    {{#if userErr}}
    <p class="error text-danger">{{userErr}}</p>
    {{else if pswrdErr}}
      <p class="error text-danger">{{pswrdErr}}</p>
    {{/if}}
      <input class="form-input" name="email" placeholder="Email" required>
      <input class="form-input" name="password" placeholder="Password" required>
      <input type="submit" class=" mt-4 w-50 btn btn-dark text-white m-auto" value="Log In">
    </form>
    <div class="p-2">
      <a class="underlineHover" href="#">Forgot Password?</a> <br>
      <h6 class="p-2">New User ?</h6>
      <a href="/signup" class="mb-4 w-50 btn btn-dark text-white m-auto">Sign Up</a>
    </div>
  </div>
</div>
</section>
