<header>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container">
                <a class="navbar-brand text-white fw-bold fs-5" href="/admin"> SHOPPING CART ADMIN</a>
                 {{#if header}}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="text-white"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/admin">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/all-orders"><i class="fas fa-shopping-cart"></i> Orders <span class="badge text-white" id="cart-count">{{cartCount}}</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-white" href="/admin/all-users"> <i class="fas fa-user-alt"></i> Users</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/admin/add-product"> <i class="fas fa-plus"></i> Add product</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/admin/alerts"> <i class="fas fa-bell"></i> Alerts</a></li>

                    </ul>
                    <ul class="navbar-nav mb-lgo-0">
                        <li class="nav-item"><a class="nav-link text-white" href="admin/logout"><i class="fas fa-sign-in-alt"> </i> Log out</a></li>
                    </ul>
                    {{/if}}
                    </div>
                </div>
            </div>
        </nav>
</header>