<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-4 m-auto">
                <form action="/admin/add-product" enctype="multipart/form-data" method="POST">
                <h5 class=" text-center">ADD PRODUCT</h5>
                 <div class="cart-card p-5 mt-2 mb-2">
                    <label for="" class="p-2">Product Name</label>
                    <input type="text" name="name" class="form-control" required>

                    <label for="" class="p-2">Catogary</label>
                    <select name="catogary" class="form-select" required>
                        <option value=""selected></option>
                        <option value="development-boards">development-boards</option>
                        <option value="tools">tools</option>
                        <option value="ic">integrated-circuits</option>
                        <option value="components">components</option>

                    </select>
                    <label for="" class="p-2">Price</label>
                    <input type="text" name="price" class="form-control" required>

                    <label for="" class="p-2">Details</label>
                    <div class="form-floating">
                        <textarea class="form-control" name="description"
                            style="height: 100px" required></textarea>
                    </div>                    
                </div>
            </div>
            <div class="col-md-6 pt-4 m-auto ">
                <h5 class="text-center">ADD PRODUCT IMAGE </h5>
                    <div class="cart-card p-5 mt-2 mb-2">
                    <div class="p-2 text-center" >
                        <img id="imgView"   style="width: 300px;" class="img-fluid m-auto">
                    </div>
                    <input type="file" id="image" onchange="viewImage(event)" name="image" class="form-control" required>
                    <h6 style="font-size: 15px;" class="pt-2 text-center text-secondary">Required image resolution : 640x640</h6>
                    <div class="m-auto btn w-100 p-4">
                        <button type="submit" id="add" class="btn btn-dark w-50">Submit</button>
                    </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</section>
