<section class="py-5 mb-5">
  <div class="wrapper fadeInDown mt-5">
  <div class="formContent">
    <div class="fadeIn first p-2">
      <i class="fas fa-user"> Login</i>
    </div>
    <form action="/admin/admin-login" method="POST">
    <p class="error text-danger">{{err}}</p>
       <input type="tel" id="" class="form-input" name="phone" placeholder="Phone Number" >
      <input class="form-input" name="password" placeholder="Password" >
      <input type="submit" class=" mt-5 mb-5 w-50 btn btn-dark text-white m-auto" value="Log In">
    </form>
  </div>
</div>
</section>