<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cart-card mt-2 mb-2 py-4 ">
                     <div class="empty-cart">
                    <div class="card-body">
                        <h6 class="text-center">All customers</h6>
                        <hr>
                        <div class="table-wrapper">
                            <table class="fl-table" style="font-size: 14px;" id="user-table">
                                <thead>
                                    <tr>
                                        <th class="bg-dark text-white">Id</th>
                                        <th class="bg-dark text-white">Name</th>
                                        <th class="bg-dark text-white">Email</th>
                                        <th class="bg-dark text-white">Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each customers}}
                                    <tr>
                                        <td>{{this._id}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.email}}</td>
                                        <td>{{this.phone}}</td>
                                    </tr>
                                    {{/each}}
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
const searchButton = document.getElementById('user-search-button');
const searchInput = document.getElementById('user-search-input');
searchButton.addEventListener('click', () => {
    const inputValue = searchInput.value;
    var filter, table, tr, td, i, txtValue;
    filter = inputValue.toUpperCase();
    table = document.getElementById("user-Table");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
});
</script>